body {
    font-family: arial, sans-serif;
}

#xsm_page {
    border: 1px solid gray;
    padding: 10px;
}

#xsm_header {
    padding: 5px;
    background-color: rgb(213, 219, 225);
}

#xsm_main {
    background-color: rgb(235, 235, 235);
}

#xsm_content {
    padding: 5px;
    background-color: gray;
}

#tinymce {
    background-color: gray;
}

#xsm_menu {
    padding: 10px;
    background-color: rgb(235, 235, 235);
}

.xsm_menu_group ul li {
    background-color: rgb(235, 235, 235);
    padding: 3px;
}

#xsm_footer {
    padding: 5px;
    height: 30px;

    background-color: rgb(213, 219, 225);
}

/** common styling */
.xsm_form table {
    width: 100%;
}

.xsm_form_answer input, .xsm_form_answer textarea {
    width: 100%;
}

.xsm_form textarea {
    height: 150px;
}

.xsm_form_question {
    vertical-align: top;
}
