#macro( title )
  $site.title :: #pageName()
#end

#macro( pageName )
  #if( $editing )
    $!page.title [edit]
  #else
    $!page.title
  #end
#end

#macro( metadataTitle )
  $!metadata.title
#end

#macro( metadataDescription )
  $!metadata.description
#end

#macro( metadataLastEditor )
  $metadata.lastEditor
#end

#macro( metadataLastEdited )
  $dateFormatter.formatISO($metadata.lastEdited)
#end

#macro( metadataFormattedLastEdited $format )
  #if( $format == "shortdate" )
    $dateFormatter.formatShortDate($metadata.lastEdited)
  #elseif( $format == "date" )
    $dateFormatter.formatDate($metadata.lastEdited)
  #elseif( $format == "shorttime" )
    $dateFormatter.formatShortTime($metadata.lastEdited)
  #elseif( $format == "time" )
    $dateFormatter.formatTime($metadata.lastEdited)
  #else
    $dateFormatter.formatISO($metadata.lastEdited)
  #end
#end

#macro( navigation )
  #if( $editing )
    <div wicket:id="xsm-tree"></div>
  #else
    #publishedNav()
  #end
#end

#macro( publishedNav )
  #navtree( $site.pages, true )
#end

#macro( categorisedNavigation )
  #set( $pages = $site.pages )

  <ul class="xsm_menu_categories">

  #foreach( $node in $pages )
    <li class="xsm_menu_category">$node.title

    #if( $node.subPages && $node.subPages.size() > 0 )
      #navtree( $node.subPages, true )
    #end
    </li>
  #end
  </ul>
#end

#macro( navtree $pages $visible )
  <ul class="xsm_menu_group">

  #foreach( $node in $pages )

    #if( $visible )
      #set( $class = '' )
    #else
      #set( $class = 'xsm_menu_hidden' )
    #end

    #if( !$node.hidden )
      #if ($node.path.equals($page.path))
        #set( $selected = "xsm_menu_item_selected" )
      #else
        #set( $selected = "" )
      #end

    <li class="xsm_menu_item $selected $class"><a href="${node.link}">$node.title</a>

      #if( $node.subPages && $node.subPages.size() > 0 )
        #navtree( $node.subPages, $page.path.startsWith($node.path) )
      #end
    </li>
    #end
  #end
  </ul>
#end

#macro( newsSummary )
  #set( $source = $site.getNewsSource() )
  #set( $length = 150 )
  #set( $count = 5 )

  #if ( !$source )
    (No news source chosen)
  #else
    #set( $docPage = $metadata.getDocument().getXSMDoc($site, $site.getPage($source)) )
    #if ( !$docPage.getType($user).getClass().getName().endsWith(".News") )
      (Chosen page is not a news page)
    #else
      #set( $list = $docPage.getContentElement().getChildren("article") )
      #foreach( $article in $list )
        #if ($velocityCount <= $count)
          <p class="xsm_newssummary">
            <span class="xsm_newssummary_subject">$article.getChildText("subject")</span><br />

            <span class="xsm_newssummary_body">$htmlUtils.summarise( $article.getChildText("body"), $length)</span><br />

            <a href="$site.getPrefixUrl()$site.getNewsSource()/_articles/${article.getAttributeValue("index")}.html" class="xsm_newssummary_more">read more...</a>
          </p>
        #end
      #end
    #end
  #end
#end

#macro( newsArchiveBlock )
  <div class="xsm_news_archive">
    <h3 class="title">Archives</h3>
  #set( $source = $site.getNewsSource() )

  #if ( !$source )
    (No news source chosen)
  #else
    #set( $docPage = $metadata.getDocument().getXSMDoc($site, $site.getPage($source)) )
    #if ( !$docPage.getType($user).getClass().getName().endsWith(".News") )
      (Chosen page is not a news page)
    #else
      $renderUtils.renderNewsArchiveBlock($site, $docPage)
    #end
  #end
  </div>
#end

#macro( lastAddition $pageName )
  #set( $source = $site.getPage( $pageName ) )

  #if ( !$source )
    (Page not found)
  #else
    #set( $docPage = $source.getXSMDocument() )
    #set( $nextIndex = $docPage.getContentElement().getAttributeValue( "next_index" ) )
    #if ( !$nextIndex )
      (Chosen page is not a list based page)
    #else
      #set( $list = $docPage.getContentElement().getChildren() )

      #foreach( $index in [$numberUtils.parseInt($nextIndex) .. 0] )
        #if (!$latest)
          #foreach( $item in $list )
            #if ( $item.getAttributeValue("index") == $index )
              #set( $latest = $item )
            #end
          #end
        #end
      #end

      #if (!$latest)
        #set( $latest = $list.get(0) )
      #end

      #if (!$latest)
        (No entries)
      #else
        $renderUtils.publish( $docPage.getType($user), $latest )
      #end
    #end
  #end
#end

#macro( feedback )
  #if( $editing )
    <div wicket:id="feedback" />
  #end
#end

#macro( editheaders )
  #if( $editing )
    <link rel="stylesheet" type="text/css" href="/resources/com.rectang.xsm.XSMApplication/themes/$theme/xsm-editor.css" />
  #end
#end

#macro( editlink )
  #if( $editing )
    XSM Version: $config.version
  #else
    #if( $site.login == "" )
      #set( $login = $config.url + "login?sitename=" + $site.id )
    #else
      #set( $login = $site.prefixUrl + $site.login )
    #end

    <a href="$login">Edit</a>
  #end
#end

#macro( toolbar )
  #if( $editing )
            <div id="xsm-editor-toolbar">

              <div id="xsm-editor-logo">&nbsp;</div>

              <ul class="xsm-editor-buttons-user" wicket:id="user-buttons">

                <li><span class="xsm-editor-button-background">
                  <a wicket:id="profilePlugin" href="#" class="xsm-editor-button">
                    <img wicket:id="pluginImage" class="xsm-editor-button-icon"
                        alt="Profile" title="Profile" />
                  <span class="xsm-editor-button-caption">Profile</span></a></span></li>
                <li><span class="xsm-editor-button-background">
                  <a wicket:id="preferencesPlugin" href="#" class="xsm-editor-button">
                    <img wicket:id="pluginImage" class="xsm-editor-button-icon"
                        alt="Prefences" title="Preferences" />
                  <span class="xsm-editor-button-caption">Preferences</span></a></span></li>

                <li><span class="xsm-editor-button-background">
                  <a wicket:id="logoutPlugin" href="#" class="xsm-editor-button">
                    <img wicket:id="pluginImage" class="xsm-editor-button-icon"
                        alt="Logout" title="Logout" />
                  <span class="xsm-editor-button-caption">Logout</span></a></span></li>
              </ul>

              <ul class="xsm-editor-buttons-admin" wicket:id="admin-buttons">
                <li><span class="xsm-editor-button-background">
                  <a wicket:id="settingsPlugin" href="#" class="xsm-editor-button">
                    <img wicket:id="pluginImage" class="xsm-editor-button-icon"
                        alt="Site Settings" title="Site Settings" />
                  <span class="xsm-editor-button-caption">Site Settings</span></a></span></li>
                <li><span class="xsm-editor-button-background">
                  <a wicket:id="themePlugin" href="#" class="xsm-editor-button">
                    <img wicket:id="pluginImage" class="xsm-editor-button-icon"
                        alt="Site Theme" title="Site Theme" />
                  <span class="xsm-editor-button-caption">Site Theme</span></a></span></li>
                <li><span class="xsm-editor-button-background">
                  <a wicket:id="usersPlugin" href="#" class="xsm-editor-button">
                    <img wicket:id="pluginImage" class="xsm-editor-button-icon"
                        alt="Users" title="Users" />
                  <span class="xsm-editor-button-caption">Users</span></a></span></li>
                <li><span class="xsm-editor-button-background">
                  <a wicket:id="backupPlugin" href="#" class="xsm-editor-button">
                    <img wicket:id="pluginImage" class="xsm-editor-button-icon"
                        alt="Backup" title="Backup" />
                  <span class="xsm-editor-button-caption">Backup</span></a></span></li>
                <li><span class="xsm-editor-button-background">
                  <a wicket:id="systemPlugin" href="#" class="xsm-editor-button">
                    <img wicket:id="pluginImage" class="xsm-editor-button-icon"
                        alt="System" title="System" />
                  <span class="xsm-editor-button-caption">System</span></a></span></li>
              </ul>

              <ul class="xsm-editor-buttons-xsmadmin" wicket:id="xsmadmin-buttons">
                <li><span class="xsm-editor-button-background">
                  <a wicket:id="adminPlugin" href="#" class="xsm-editor-button">
                    <img wicket:id="pluginImage" class="xsm-editor-button-icon"
                        alt="XSM Admin" title="XSM Admin" />
                  <span class="xsm-editor-button-caption">XSM Admin</span></a></span></li>
              </ul>

              <ul class="xsm-editor-buttons-help">
                <li><span class="xsm-editor-button-background">
                  <a wicket:id="helpPlugin" href="#" class="xsm-editor-button">
                    <img wicket:id="pluginImage" class="xsm-editor-button-icon"
                        alt="Help" title="Help" />
                  <span class="xsm-editor-button-caption">Help</span></a></span></li>
              </ul>
            </div>
  #end
#end