#xsm-editor-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  
  opacity: 0.9;
}

#xsm-editor-toolbar {
  width: 100%;
  height: 30px;

  background-color: lightgrey;
  border-bottom: 1px solid black;
  padding: 2px 0 0 0;
}

#xsm-editor-toolbar img {
  width: 24px;
}

#xsm-editor-toolbar ul {
  list-style: none;
  padding: 1px 2px;
  margin: 0;
  margin-right: 20px;
  display: inline;
}

#xsm-editor-toolbar li {
  display: inline-block;
}

#xsm-editor-toolbar a.xsm-editor-button {
  display: block;
  padding: 1px;
  width: 24px;
  height: 24px;
}

#xsm-editor-toolbar .xsm-editor-buttons-user {
  float: right;
  margin-right: 1px;
}

#xsm-editor-toolbar a.xsm-editor-button:hover {
  background-color: gray;
  padding: 0;
  border: 1px solid black;
}

#xsm-editor-logo {
  display: inline;
  padding: 5px 2px;
  margin-left: 3px;
  margin-top: -2px;
  
  color: gray;
  font-size: 28px;
  font-family: "gill sans", sans-serif;
  font-weight: bold;
}

#xsm-editor-toolbar .xsm-editor-button-caption {
  display: none;
}