/* XSM layout */

#xsm_page {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#xsm_content {
    margin-left: 170px;
    margin-right: 170px;
}

#xsm_menu {
    float: left;
    width: 150px;
}

#xsm_news {
    float: right;
    width: 150px;
}

#xsm_footer {
    clear: both;
}

.xsm_edit {
    float: right;
}

/* XSM Gallery */
p.xsm_gallery_nav {
    width: 100%;
    text-align: center;
}

span.xsm_gallery_nav_prev {
    float: left;
}

span.xsm_gallery_nav_curr {
    text-align: center;
    margin: 0 100px;
    display: block;
}

span.xsm_gallery_nav_next {
    float: right;
}

div.xsm_gallery_preview {
    width: 100%;
    text-align: center;
}

/* XSM Menu bar */

.xsm_menu_group, .xsm_menu_categories, .xsm_news_archive ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.xsm_menu_group ul {
    padding-left: 10px;
    margin: 0;
}

.xsm_powered {
    padding-top: 25px;
}

.xsm_menu_hidden {
    display: none;
}

.xsm_powered_logo {
    border: 0;
}

.xsm_buttons img {
    float: left;
    border: 0;
}
